<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Fix MIME Type untuk .tsx agar dikenali browser sebagai JS Module
  AddType application/javascript .tsx

  # Jangan arahkan folder /api ke index.html
  RewriteRule ^api/ - [L]
  
  # Arahkan semua request lain ke index.html (SPA Routing)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>